# 모든 확장자를 제외
# *.txt 예) txt파일은 제외

# 현재 폴더 중에서 특정 폴더에 있는 모든 파일을 제외
# test/ 예) test폴더 안에 있는 모든 파일을 제외

# 현재 폴더 중에서 특정 폴더 바로 밑에 있는 특정 파일만 제외
# test/*.txt 예) test폴더 안에 txt파일만 제외

.ipynb_checkpoints/
Crawling/